In [2]:
import pyodbc
import pandas as pd

In [3]:
def connect():

    # Define the connection string
# Define the connection string
    server = 'tcp:sqlsrv-stage.database.windows.net,1433'
    database = 'sqldb_stage'
    username = 'hababi@sqlsrv-stage'
    password = 'Hassan&123'
    driver = '{ODBC Driver 18 for SQL Server}'  # This driver may vary depending on your setup


    # Create the connection
    try:
        conn = pyodbc.connect(f'Driver={driver};Server={server};Database={database};Uid={username};Pwd={password};Encrupt=yes;TrustServerCertificate=no;Connection Timeout=30;')        
        print('Connected.')
        
        return conn

    except Exception as e:
        print(f'Error connecting to SQL Server: {str(e)}')

In [4]:
def get_data():
    sql_query = 'SELECT * FROM jobs_data'

    try:
        conn = connect()
        df = pd.read_sql(sql_query, conn)
        
    except:
        print('Connection error')
    
    return df

In [5]:
df=get_data()

Connected.

/tmp/ipykernel_215505/1396910201.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_query, conn)

In [6]:
df.shape

(4541, 9)

In [8]:
csv_filename = "jobs.csv"
df.to_csv(csv_filename, index=False)
print(f"Le fichier CSV a été créé avec succès sous le nom {csv_filename}.")

Le fichier CSV a été créé avec succès sous le nom jobs.csv.

In [7]:
df.head()

,id,job_link,job_name,job_text,job_company,job_location,job_type,job_date,skills
0,1,https://fr.linkedin.com/jobs/view/freelance-bu...,FREELANCE - Business Analyst SI Gestion des dé...,Description :Notre cabinet recherche un Busine...,Mon Consultant Indépendant,Greater Paris Metropolitan Region,AUTRE,2024-07-18,business sql
1,2,https://fr.linkedin.com/jobs/view/mid-senior-t...,Mid/Senior Tester QA,"ResponsibilitiesBy joining us, you are guarant...",Virtuos France,"Cergy, Île-de-France, France",AUTRE,2024-07-18,mobile software jira game development support ...
2,3,https://fr.linkedin.com/jobs/view/freelance-se...,FREELANCE - Senior Consultant Expert Cyber Se...,Notre cabinet recherche un Senior Consultant E...,Mon Consultant Indépendant,Greater Paris Metropolitan Region,AUTRE,2024-07-18,business support security
3,4,https://fr.linkedin.com/jobs/view/un-talent-de...,UN TALENT DE TALEND EST ATTENDU À LYON ! (H/F),"Notre sociétéNext Decision, c'est quoi ?Un Cab...",Next Décision,"Lyon, Auvergne-Rhône-Alpes, France",AUTRE,2024-07-18,big data json data quality mode flux crm busin...
4,5,https://fr.linkedin.com/jobs/view/ing%C3%A9nie...,Ingénieur Data,Description du Poste: Nous sommes à la recherc...,Free-Work,"Île-de-France, France",AUTRE,2024-07-18,azure sql spark databricks server bigquery flu...