In [1]:
import spacy
import pandas as pd

In [4]:
def load_skills(path="jz_skill_patterns.jsonl"):
    nlp=spacy.load("en_core_web_lg",disable=['ner'])
    ruler = nlp.add_pipe("entity_ruler")
    ruler.from_disk(path)
    return nlp

In [5]:
nlp=load_skills()

In [6]:
def get_type(text):
    if "stage" in text.lower() or "courte durée" in text.lower():
        text = "stage"
    elif "alternance" in text.lower():
        text = "alternance"

    elif "cdi" in text.lower():
        text = "cdi"
    
    elif "cdd" in text.lower():
        text = "cdd"
    
    elif "freelance" in text.lower() or "indépendant" in text.lower():
        text = "freelance"
    else:
        text = "autre"

    return text.capitalize()

In [7]:
def get_skills(text):
    doc = nlp(text.lower())
    list_skills = []
    for ent in doc.ents:
        if ent.label_ == "SKILL":
            list_skills.append(ent.text.lower())  # lower
    list_skills = list(set(list_skills))
    return ' '.join(list_skills)

In [8]:
df_linkedin=pd.read_csv('linkedin.csv')
df_jungle=pd.read_csv('welcome_jungle.csv')
df_indeed=pd.read_csv('indeed.csv')

In [9]:
df_linkedin.columns

Index(['job_link', 'job_name', 'job_text', 'job_company', 'job_location',
       'job_type', 'job_date'],
      dtype='object')

In [10]:
df_indeed.columns

Index(['job_link', 'job_name', 'job_text', 'job_company', 'job_location',
       'job_type', 'job_date'],
      dtype='object')

In [11]:
df_jungle.columns

Index(['Job_Link', 'Job_txt', 'company', 'job_title', 'Location', 'job_type',
       'job_date'],
      dtype='object')

In [12]:
new_columns = ['job_link', 'job_name', 'job_text', 'job_company', 'job_location', 'job_type', 'job_date']

df_jungle = df_jungle.rename(columns=dict(zip(df_jungle.columns, new_columns)))

In [13]:
df_jungle.columns

Index(['job_link', 'job_name', 'job_text', 'job_company', 'job_location',
       'job_type', 'job_date'],
      dtype='object')

In [39]:
data=pd.concat([df_indeed,df_jungle,df_linkedin],axis=0)
data.reset_index(drop=True, inplace=True)

In [40]:
data.head()

,job_link,job_name,job_text,job_company,job_location,job_type,job_date
0,https://fr.indeed.com//rc/clk?jk=f02d26eaa5ee3...,Data Analyst Transport H/F,Bouygues Construction Matériel apporte son sav...,Bouygues Construction Matériel,Chilly-Mazarin (91),CDI,2024-07-10
1,https://fr.indeed.com//rc/clk?jk=0793e3b3707f5...,Data analyst F/H,Détail de l'offre Informations générales Descr...,ALKERA,Clichy (92),"CDI, Temps plein",2024-07-12
2,https://fr.indeed.com//rc/clk?jk=92b3c6db22ecb...,Junior Data Analyst H/F,Lectra SA Junior Data Analyst H/F ...,Lectra,Cestas (33),NaN,2024-07-11
3,https://fr.indeed.com//rc/clk?jk=965d2d27c6c5e...,Data Analyst (H/F),Lille CDI Publiée il y a plus de ...,Infogene,Lille (59),CDI,2024-07-12
4,https://fr.indeed.com//rc/clk?jk=ed41fb1cfd983...,CDI - Hyperviseur / Data Analyst (F/H),Identifiant de la demande: 31678 Vill...,GRDF,Paris (75),"CDI, Temps plein",2024-07-12

In [41]:
data.shape

(4162, 7)

In [42]:
data.isna().sum()

job_link        279
job_name        523
job_text        303
job_company     382
job_location    421
job_type        383
job_date        618
dtype: int64

In [43]:
data.dropna(subset=['job_text'],inplace=True)

In [44]:
data

,job_link,job_name,job_text,job_company,job_location,job_type,job_date
0,https://fr.indeed.com//rc/clk?jk=f02d26eaa5ee3...,Data Analyst Transport H/F,Bouygues Construction Matériel apporte son sav...,Bouygues Construction Matériel,Chilly-Mazarin (91),CDI,2024-07-10
1,https://fr.indeed.com//rc/clk?jk=0793e3b3707f5...,Data analyst F/H,Détail de l'offre Informations générales Descr...,ALKERA,Clichy (92),"CDI, Temps plein",2024-07-12
2,https://fr.indeed.com//rc/clk?jk=92b3c6db22ecb...,Junior Data Analyst H/F,Lectra SA Junior Data Analyst H/F ...,Lectra,Cestas (33),NaN,2024-07-11
3,https://fr.indeed.com//rc/clk?jk=965d2d27c6c5e...,Data Analyst (H/F),Lille CDI Publiée il y a plus de ...,Infogene,Lille (59),CDI,2024-07-12
4,https://fr.indeed.com//rc/clk?jk=ed41fb1cfd983...,CDI - Hyperviseur / Data Analyst (F/H),Identifiant de la demande: 31678 Vill...,GRDF,Paris (75),"CDI, Temps plein",2024-07-12
...,...,...,...,...,...,...,...
4156,https://fr.linkedin.com/jobs/view/d%C3%A9velop...,Développeur web - (H/F) - En alternance,Description Du PosteApprenez un métier d’aveni...,OpenClassrooms,"Romorantin, Centre-Val de Loire, France",Not Applicable,2024-07-11
4157,https://fr.linkedin.com/jobs/view/ing%C3%A9nie...,Ingénieur DevOps 45 - 60 K€ H/F,MissionVous avez une expérience d'ingénieur DE...,DigitValue,"Maritime Alps, Provence-Alpes-Côte d'Azur, France",Entry level,2024-07-11
4158,https://fr.linkedin.com/jobs/view/ing%C3%A9nie...,Ingénieur IVVQ Cloud H/F,Ingénieur IVVQ Cloud Domaine Bancaire H/FLieu ...,LesJeudis,"Gémenos, Provence-Alpes-Côte d'Azur, France",Entry level,2024-07-11
4159,https://fr.linkedin.com/jobs/view/ing%C3%A9nie...,Ingénieur DevOps junior,"En qualité d'ingénieur DevOps, vous développez...",Free-Work,"Le Pecq, Île-de-France, France",Entry level,2024-07-08
4161,https://fr.linkedin.com/jobs/view/analyste-ing...,ANALYSTE / INGENIEUR EN DEVELOPPEMENT DEVOPS (...,Description de l'entrepriseBPCE SI est une ent...,BPCE Solutions informatiques,"Dijon, Bourgogne-Franche-Comté, France",Entry level,2024-07-09

In [45]:
data.shape

(3859, 7)

In [46]:
data.head()

,job_link,job_name,job_text,job_company,job_location,job_type,job_date
0,https://fr.indeed.com//rc/clk?jk=f02d26eaa5ee3...,Data Analyst Transport H/F,Bouygues Construction Matériel apporte son sav...,Bouygues Construction Matériel,Chilly-Mazarin (91),CDI,2024-07-10
1,https://fr.indeed.com//rc/clk?jk=0793e3b3707f5...,Data analyst F/H,Détail de l'offre Informations générales Descr...,ALKERA,Clichy (92),"CDI, Temps plein",2024-07-12
2,https://fr.indeed.com//rc/clk?jk=92b3c6db22ecb...,Junior Data Analyst H/F,Lectra SA Junior Data Analyst H/F ...,Lectra,Cestas (33),NaN,2024-07-11
3,https://fr.indeed.com//rc/clk?jk=965d2d27c6c5e...,Data Analyst (H/F),Lille CDI Publiée il y a plus de ...,Infogene,Lille (59),CDI,2024-07-12
4,https://fr.indeed.com//rc/clk?jk=ed41fb1cfd983...,CDI - Hyperviseur / Data Analyst (F/H),Identifiant de la demande: 31678 Vill...,GRDF,Paris (75),"CDI, Temps plein",2024-07-12

In [47]:
data.isna().sum()

job_link          0
job_name        220
job_text          0
job_company      79
job_location    118
job_type         80
job_date        338
dtype: int64

In [48]:
data.dropna(inplace=True)
data.reset_index(drop=True, inplace=True)

In [49]:
data.shape

(3041, 7)

In [50]:
data.isna().sum()

job_link        0
job_name        0
job_text        0
job_company     0
job_location    0
job_type        0
job_date        0
dtype: int64

In [51]:
data["skills"] = data["job_text"].str.lower().apply(lambda x: get_skills(x))

In [52]:
data.columns

Index(['job_link', 'job_name', 'job_text', 'job_company', 'job_location',
       'job_type', 'job_date', 'skills'],
      dtype='object')

In [59]:
data.isna().sum()

job_link        0
job_name        0
job_text        0
job_company     0
job_location    0
job_type        0
job_date        0
skills          0
dtype: int64

In [65]:
data['job_text'][1001]

'Decathlon Digital'

In [66]:
data["job_type"] = data["job_type"].str.lower().apply(lambda x: get_type(x))

In [67]:
data['job_type'][1000]

'Cdi'

In [68]:
csv_filename = "jobs_data.csv"
data.to_csv(csv_filename, index=False)
print(f"Le fichier CSV a été créé avec succès sous le nom {csv_filename}.")

Le fichier CSV a été créé avec succès sous le nom jobs_data.csv.